.wrapper {
    width: 36px;
    height: 36px;
    border-radius: 10px;
    border: 2px solid transparent;
    transition: color .3s ease;
    opacity: 0.4;
    position: relative;
}

.active {
    opacity: 1;
}

.indicator {
    position: absolute;
    width: 4px;
    height: 36px;
    top: -2px;
    left: -8px;
    z-index: 102;
    border-radius: 6px;
    background-color: var(--mantine-color-indigo-4);
    transition: all 0.3s ease-in-out;
}