.wrapper {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid var(--mantine-color-gray-3);
    background: white;
    z-index: 100;
}

.logo {
    text-decoration: none;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}