.banner_wrapper {
    position: relative;
    margin-bottom: 56px;
    padding-top: 192px;
    margin-top: -192px;
    width: 100%;
}

.banner_background {
    position: absolute;
    inset: 0px 0px -1px;
    background-size: cover;
    background-position: center;
    transition: background 0.3s linear 0s;
    z-index: 1;
    min-height: 400px;
    width: 100%;
    filter: blur(30px);
}